---
layout: layout
title: Blog
nav_title: Blog
weight: 9
---

<div class="page-content">
	{% for post in paginator.posts %}
		<div class="post">
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		
			<p>
				{{ post.date | date: "%B %e, %Y" }}
			</p>
		
			{{ post.content | postmorefilter: post.url, "Read the rest of this entry" }}
		
			<hr />
		</div>
	{% endfor %}
	
	{% if paginator.previous_page == 1 %}
	    <span id="newer"><a href="/blog.html">&laquo;&laquo; Newer Entries</a></span>
	{% elsif paginator.previous_page %}
	    <span id="newer"><a href="/page{{ paginator.previous_page }}">&laquo;&laquo; Newer Entries</a></span>
	{% endif %}
	{% if paginator.next_page %}
	    <span id="older"><a href="/page{{ paginator.next_page }}">Older Entries &raquo;&raquo;</a></span>
	{% endif %}
</div>
